<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.projects %}
    <div class="column has-text-centered is-paddingless is-one-fourth-widescreen is-one-fourth-desktop is-one-fourth-fullhd is-one-fourth-tablet is-one-fourth-mobile is-one-fourth-touch"
      id="project-card">
      <a href="{{project.link}}" target="_blank">
      <div class="has-background-transparent card">
        <figure class="image is-1by1" style="background-image: url({{project.image}});">
        </figure>
        <div class="card-content">
          <p class="title card-content" style="font-size: 5vmax;">{{ project.name }}</p>
          <p class="has-text-weight-light content" style="font-size: 3vmax;">{{ project.description}}</p>
        </div>
      </div>
      </a>
    </div>
  {% endfor %}
</div>