<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.projects %}
    <div class="wrapper" id="project-card" style="padding: 1%!important;">
      <a href="{{project.link}}" target="_blank">
      <div class="card">
        <img src="{{project.image}}">
        <div class="info">
		  <p class = "subtitle has-text-center has-text-top has-text-light" style = "font-size: .50rem!important; margin-top: -10%!important;">Click to view more</p>
          <p class = "subtitle p2 has-text-center has-text-bottom has-text-light is-size-7">{{project.description}}</p>
          <p class = "title has-text-center has-text-bottom has-text-light is-size-5">{{project.name}}</p>

        </div>
      </div>
      </a>
	</div>

  {% endfor %}
</div>