<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.projects %}
    <div class="wrapper" id="project-card">
      <a href="{{project.link}}" target="_blank">
      <div class="card">
        <img src="{{project.image}}">
        <div class="info">
          <p class = "subtitle p2 has-text-center has-text-bottom has-text-light has-size-6">{{project.description}}</p>
          <p class = "title has-text-center has-text-bottom has-text-light has-size-2">{{project.name}}</p>

        </div>
      </div>
      </a>
	</div>

  {% endfor %}
</div>